/* starting by importing the Roboto Slab font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
/* here I define the main background color and align text to center for the entire page */
body {
  margin: 0;
  background-color: #f4f1de;
  text-align: center;
}

/* below I define colors, sizes, and fonts for each section of the page. */
a:link {
  color: #FF0000;
}

a:visited {
  color: #00FF00;
}

a:hover {
  color: #FF00FF;
}

h1, h2, p {
  color: #e07a5f;
  font-size: 14px;
}

header h1 {
  color: #000000;
}

main div header h2 {
  color: #000000;
  font-size: 24px;
}

main div p {
  font-size: 16px;
}

main div header h2 , 
main div p, 
footer div nav p {
  text-align: center;
}

header,
nav,
main,
footer {
  font-family: 'Roboto Slab', serif;
}

header div h1 {
  text-align: center;
  font-size: 70px;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

header div nav a {
  padding: 0 15px 10px 20px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}

nav,
div {
  width: 750px;
  margin: auto;
  height: auto;
}

main div p {
  color: #000000;
}

main div {
  border: 3px solid #3d405b;
  padding: 10px;
  background-color: #81b29a;
}

#Section-3 {
  border: 3px solid #3d405b;
  padding: 10px;
  background-color: #81b29a;
}

